body
{
    background-color: rgb(220,245,255);
}
/* Element Selectors: Select every element on the page.*/
header, main, footer
{
    background-color: rgb(190,225,250);

}
/*
/* Direct Descendent Selectors(>): select every element on the page of the latter name that is a Direct child  of the former name. */
/*body>footer >p{
    background-color:orangered;
}*/
/* Descendent Selectors: select every element on the page of the latter name that is a child (somewhere) of the former name. */
/*footer p{
    background-color: yellow;
} */
/* class selectors (#): are used to select every element on a page with a class attribute,regardless of element type.Classess have higher specificity than element selectors.*/
.photo{
    border: 2px solid black;
    border-radius: 10px;

}
.flex{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* Id selectors (.) : are used to select the single element with the given ID. IDs have higher specificity than class selectors. */
#Flower
{
    border: 3px solid red;
    width:50px;
}
main > p{
    font-size: 40px;
    color: purple;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;

}
.contact main
{
    background-image: url("../img/Rocky_Mountain.jpg");
    background-size: cover;

}
.contact .mask
{
    background-color: rgb(50,50,50,0.5);
}
/* Demo Equal-width Two-column Layout*/
main.section:nth-of-type(1) p
{
    width:48%;
}
/*Demo Staggered-width Two-column Layout */
main.section:nth-of-type(2) p:first-child 
{
    width: 23%;

}
main.section:nth-of-type(2) p:last-child 
{
    width: 73%;
   

}
/*Demo Staggered-width Three-column Layout */
main.section:nth-of-type(2) p:first-child 
{
    width: 25%;

}
main.section:nth-of-type(3) p:nth-child(2)
{
    width: 33%;
    

}
main.section:nth-of-type(3) p:last-child(2)
{
    width: 35%;
    

}